<section layout-sm="column" layout="row" id="top-buttons"  >
    <div class="header-button" flex>
        <md-input-container >
            <md-button  href="#dashboard" class="md-raised md-primary" >
                Teacher Dashboard&nbsp;&nbsp;
                <md-icon ng-style="{color: font.color}" md-svg-src="../../../images/svg/checkbox-icon.svg" class="attendance-icon" aria-label="Attendance"></md-icon>
            </md-button>
        </md-input-container>
    </div>
    <div class="header-button" flex>
        <md-input-container >
            <md-button  href="#teacher" class="md-raised md-primary" >
                Attendance&nbsp;&nbsp;
                <md-icon ng-style="{color: font.color}" md-svg-src="../../../images/svg/checkbox-icon.svg" class="attendance-icon" aria-label="Attendance"></md-icon>
            </md-button>

        </md-input-container>
    </div>
    <div class="header-button" flex>
        <md-input-container >
            <md-button  href="#logout" class="md-raised md-primary" >
                Logout&nbsp;&nbsp;
                <md-icon ng-style="{color: font.color}" md-svg-src="../../../images/svg/logout-icon.svg" class="logout-icon" aria-label="Log Out"></md-icon>
            </md-button>
        </md-input-container>
    </div>
</section>