<section>
    <md-content>
        <h3>
            <md-icon ng-style="{color: font.color}" md-svg-src="../../../images/svg/checkbox-icon.svg"
                     class="attendance-icon" aria-label="Attendance"></md-icon>
            &nbsp;Attendance
        </h3>


        <md-divider></md-divider>

        <div layout-fill="" layout="column" ng-cloak>


            <div id="attBtn" class="inset" dir="ltr" flex="none">
                <div ng-repeat="student in students">
                    <md-checkbox ng-model="student.attendance_status" ng-true-value="'present'"
                                 ng-false-value="'absent'" class="green">
                        <span class="student-name">{{student.student_firstname +' '+ student.student_lastname }}</span>
                    </md-checkbox>

                    <md-divider></md-divider>
                </div>
            </div>
            <md-input-container>
                <md-button ng-if="students.length > 0" class="md-raised md-primary" ng-click="putAttendance()">SUBMIT</md-button>
            </md-input-container>
        </div>
    </md-content>
</section>