
    <div class="page-header-text">
        <h3>ADMINISTRATOR DASHBOARD</h3>
    </div>


    <section   layout-sm="column" layout="row" layout-align="center center">
        <md-content class="content-panel" layout="column" flex="auto" layout-align="center center">
            <div>
                Pre-Work Report
            </div>
            <div>
                <md-datepicker ng-model="preworkDate" md-placeholder="Enter date"></md-datepicker>
            </div>
            <div>
                <md-button class="md-raised md-primary">Pre-Work Report</md-button>
            </div>

        </md-content>
        <md-content class="content-panel" layout="column" flex="auto" layout-align="center center">
            <div>Absent Report</div>
            <div>
                <md-datepicker ng-model="absentDate" md-placeholder="Enter date"></md-datepicker>
            </div>
            <div>
                <md-button class="md-raised md-primary">Absent Report</md-button>

            </div>
        </md-content>
    </section>
</section>