<div class="page-header-text">
    <h3>ADMINISTRATOR DASHBOARD</h3>
</div>

<section layout-sm="column" layout="row" layout-align="center center">
    <md-content class="content-panel" layout="column" flex="auto" layout-align="center center">
        <div>
            Pre-Work Report
        </div>
        <form  name="preworkForm" ng-submit="getPrework()">
            <div>
                <md-datepicker name="date" ng-model="prework.date" ng-required ></md-datepicker>


            </div>
            <div>
                <md-button ng-disabled="!preworkForm.date.$modelValue"  class="md-raised md-primary">Pre-Work Report</md-button>
            </div>
            <div class="validation-messages" ng-messages="preworkForm.date.$error">
                <div ng-message="required">This date is required!</div>
            </div>
        </form>
    </md-content>



    <md-content class="content-panel" layout="column" flex="auto" layout-align="center center">
        <div>Absent Report</div>
        <form   name="absentForm" ng-submit="getAbsences()">
            <div>
                <md-datepicker name="date" ng-model="absent.date" ng-required ></md-datepicker>
            </div>
            <div>
                <md-button ng-disabled="!absentForm.date.$modelValue" class="md-raised md-primary">Absent Report</md-button>
            </div>
        </form>
    </md-content>
</section>


