<section id="add-user-form">
    <md-content>
        <form>
            <h3><md-icon ng-style="{color: font.color}" md-svg-src="../../../images/svg/add-user.svg" class="users-icon" aria-label="Upload"></md-icon>&nbsp;Add User</h3>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First Name</label>
                    <input ng-model="newUser.firstname">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last Name</label>
                    <input ng-model="newUser.lastname">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input ng-model="newUser.email">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Select Role</label>
                    <md-select ng-model="newUser.role">
                        <md-option>Admin</md-option>
                        <md-option>Teacher</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div>
                <md-button  layout="column" flex="auto" class="md-raised md-primary" ng-click="submitForm()">Add User</md-button>
            </div>
        </form>
    </md-content>
</section>
<div class="spacer">
    <md-input-container>
        <md-divider md-inset></md-divider>
    </md-input-container>
</div>
<div>
    UI DATA GRID
    <!--<div id="userList" ui-grid="gridOptions" ui-grid-edit class="grid"></div>-->
    <!-- From Demo -->
    <div id="grid1" ui-grid="{ data: myData }" ui-grid-edit class="grid"></div>
</div>


<div class="spacer">
    <md-input-container>
        <md-divider md-inset></md-divider>
    </md-input-container>
</div>
DATA TABLE
<table>
    <tr ng-repeat="user in userList">
        <td>{{user.id}}</td>
        <td>{{user.email}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.role}}</td>
    </tr>
</table>