<section>
    <form>
        <h3>Add User</h3>
        <div class="add-user">
            <label>Email: </label>
            <input ng-model="newUser.email" type="text"/>
        </div>
        <div class="add-user">
            <label>Role: </label>
            <select ng-model="newUser.role">
                <option>Admin</option>
                <option>Teacher</option>
            </select>
        </div>
        <div>
            <md-button  layout="column" flex="auto" class="md-raised md-primary" ng-click="submitForm()">Add User</md-button>
        </div>
    </form>
</section>
<section>
    List Of Users Here
</section>