<section id="add-user-form">
    <md-content>
        <form>
            <h3>Add User</h3>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First Name</label>
                    <input ng-model="newUser.firstname">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last Name</label>
                    <input ng-model="newUser.lastname">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input ng-model="newUser.email">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Select Role</label>
                    <md-select ng-model="newUser.role">
                        <md-option>Admin</md-option>
                        <md-option>Teacher</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div>
                <md-button  layout="column" flex="auto" class="md-raised md-primary" ng-click="submitForm()">Add User</md-button>
            </div>
        </form>
    </md-content>
</section>
<div class="spacer">
    <md-input-container>
        <md-divider md-inset></md-divider>
    </md-input-container>
</div>


<section>
    List Of Users Here
    <div ng-repeat="user in userList" ng-blur="updateUser(user)">
        <span ng-click="deleteUser(user)">DELETE BUTTON</span>
    </div>
</section>