<header >
    <div class="page-header-text">
        <h3>ADMINISTRATOR DASHBOARD</h3>
    </div>

</header>
<section>
    <section id="top-buttons" layout="row">
        <div class="header-button">
            <md-input-container >
                <md-button class="md-raised md-primary" >Add User </md-button>
            </md-input-container>
        </div>
        <div class="header-button">
            <md-input-container >
                <md-button  href="/logout" class="md-raised md-primary" >Logout</md-button>
            </md-input-container>
        </div>
        <div id="import-button-container">
            <div class="import-button">
                Import CSV: &nbsp;<input id="ChooseFile" type="file" />
            </div>
        </div>

    </section>

    <section  layout="row">
        <div class="content-panel" >
            <div>
                Pre-Work Report
            </div>
            <div>
                <md-datepicker ng-model="preworkDate" md-placeholder="Enter date"></md-datepicker>
            </div>
            <div>
                <md-button class="md-raised md-primary">Pre-Work Report</md-button>
            </div>

        </div>
        <div  class="content-panel" >
            <div>Absent Report</div>
            <div>
                <md-datepicker ng-model="absentDate" md-placeholder="Enter date"></md-datepicker>
            </div>
            <div>
                <md-button class="md-raised md-primary">Absent Report</md-button>

            </div>
        </div>
        </div>
    </section>
</section>