<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Breakthrough Twin Cities</title>
    <link rel="stylesheet" href="/vendors/angular-material.layouts.min.css"/>
    <link rel="stylesheet" href="/vendors/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="/vendors/angular-ui-grid/ui-grid.min.css"/>
</head>
<body>
<header ng-include="'/views/templates/admin-header.html'">
<main ng-cloak ng-view></main>

<footer ng-include="'/views/templates/admin-footer.html'">

<script src="/vendors/angular/angular.min.js"></script>
<script src="/vendors/angular-animate/angular-animate.min.js"></script>
<script src="/vendors/angular-material/angular-material.min.js"></script>
<script src="/vendors/angular-route/angular-route.min.js"></script>
<script src="/vendors/angular-aria/angular-aria.min.js"></script>
<script src="/vendors/angular-messages/angular-messages.min.js"></script>
<script src="/vendors/angular-ui-grid/ui-grid.min.js"></script>
    <script src="/assets/scripts/admin/admin.js"></script>
</body>
</html>


