<section id="add-user-form">
    <md-content>
        <form ng-submit="submitForm()">
            <h3><md-icon ng-style="{color: font.color}" md-svg-src="../../../images/svg/add-user.svg" class="users-icon" aria-label="Upload"></md-icon>&nbsp;Add User</h3>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First Name</label>
                    <input required ng-model="newUser.firstname">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last Name</label>
                    <input required ng-model="newUser.lastname">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input required ng-model="newUser.email">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Select Role</label>
                    <md-select required ng-model="newUser.role">
                        <md-option>Admin</md-option>
                        <md-option>Teacher</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div>
                <md-button  layout="column" flex="auto" class="md-raised md-primary">Add User</md-button>
            </div>
        </form>
    </md-content>
</section>
<div class="spacer">
    <md-input-container>
        <md-divider></md-divider>
    </md-input-container>
</div>
<div>
    <h3>User List</h3>
    <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-edit ui-grid-row-edit ui-grid-resize-columns="true" class="grid"></div>
</div>

<div class="spacer">
    <md-input-container>
        <md-divider></md-divider>
    </md-input-container>
</div>
