<section>
    <md-content>
        <h3>
            <md-icon ng-style="{color: font.color}" md-svg-src="../../../images/svg/checkbox-icon.svg"
                     class="attendance-icon" aria-label="Attendance"></md-icon>
            &nbsp;Attendance
        </h3>

        <h5>Select Class</h5>

        <div>
            List Of Classes to select
        </div>

        <div class="spacer">
            <md-input-container>
                <md-divider></md-divider>
            </md-input-container>
        </div>

        <h3>Attendance App Test:</h3>

        <div layout-fill="" layout="column">


            <div id="attBtn" class="inset" ng-cloak dir="rtl" flex="none">
                <div ng-repeat="student in students">
                    <md-checkbox ng-model="student.attendance_status" ng-true-value="'present'"
                                 ng-false-value="'absent'" class="green">
                        {{student.student_firstname +' '+ student.student_lastname }}
                    </md-checkbox>
                    <md-divider></md-divider>
                </div>
            </div>
            <md-input-container>
                <md-button class="md-raised md-primary" ng-click="putAttendance()">SUBMIT</md-button>
            </md-input-container>

        </div>

    </md-content>
</section>