<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breakthrough Twinm Cities</title>
    <link rel="stylesheet" href="/vendors/angular-material.layouts.min.css"/>
    <link rel="stylesheet" href="/vendors/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="/vendors/angular-ui-gridui-grid.min.css"/>
</head>
<body>

<script src="/vendors/angular/angular.min.js"></script>
<script src="/vendors/angular-animate/angular-animate.min.js"></script>
<script src="/vendors/angular-material/angular-material.min.js"></script>
<script src="/vendors/angular-route/angular-route.min.js"></script>
<script src="/vendors/angular-aria/angular-aria.min.js"></script>
<script src="/vendors/angular-messages/angular-messages.min.js"></script>
<script src="/vendors/angular-ui-grid/ui-grid.min.js"></script>
</body>
</html>
