<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Breakthrough Twin Cities</title>
    <link rel="stylesheet" href="/vendors/angular-material/angular-material.layouts.min.css"/>
    <link rel="stylesheet" href="/vendors/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="/vendors/angular-ui-grid/ui-grid.min.css"/>
    <link rel="stylesheet" href="/assets/styles/style.css"/>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico"/>
    <script src="/vendors/angular/angular.min.js"></script>
</head>
<body ng-controller="loginCtrl">
<section id="login-page" flex>
    <header ng-include="'/views/templates/header.html'" layout="column">
    </header>

    <section id="login-form" ng-cloak layout="column">
        <div>
            Welcome To Breakthrough Twin Cities
        </div>
        <div class="spacer">
            <md-input-container>
                <md-divider></md-divider>
            </md-input-container>
        </div>
        <div>
            <a href="/auth/google">
                <img id="sign-in-google-logo" src="../images/google-sign-in-dk.svg"/>
            </a>
        </div>
    </section>
    <footer ng-include="'/views/templates/footer.html'" layout="column">

    </footer>
</section>


<script src="/vendors/angular-animate/angular-animate.min.js"></script>
<script src="/vendors/angular-material/angular-material.min.js"></script>
<script src="/vendors/angular-route/angular-route.min.js"></script>
<script src="/vendors/angular-aria/angular-aria.min.js"></script>
<script src="/vendors/angular-messages/angular-messages.min.js"></script>
<script src="/vendors/angular-touch/angular-touch.min.js"></script>
<script src="/vendors/angular-ui-grid/ui-grid.min.js"></script>
<script src="/assets/scripts/login.js"></script>
<script src="/assets/scripts/loginCtrl.js"></script>
</body>
</html>
