<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Breakthrough Twin Cities</title>
    <link rel="stylesheet" href="/vendors/angular-material/angular-material.layouts.min.css"/>
    <link rel="stylesheet" href="/vendors/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="/vendors/angular-ui-grid/ui-grid.min.css"/>

</head>
<body>
<header ng-include="'/views/templates/header.html'">

</header>

<section style="margin-top: 50px; text-align: center;" id="login-form" ng-cloak>
    <div>
        <img style="width: 300px; margin: 25px;" src="assets/images/btc-logo.png"/>
    </div>
    <div >
        <a href="#">
            <img id="sign-in-google-logo" style="width: 300px;" src="/assets/images/google-sign-in.svg"/>
        </a>
    </div>
</section>
<footer ng-include="'/views/templates/footer.html'">

</footer>

    <script src="/vendors/angular/angular.min.js"></script>
    <script src="/vendors/angular-animate/angular-animate.min.js"></script>
    <script src="/vendors/angular-material/angular-material.min.js"></script>
    <script src="/vendors/angular-route/angular-route.min.js"></script>
    <script src="/vendors/angular-aria/angular-aria.min.js"></script>
    <script src="/vendors/angular-messages/angular-messages.min.js"></script>
    <script src="/vendors/angular-ui-grid/ui-grid.min.js"></script>
    <script src="/vendors/angular-ui-grid/ui-grid.min.js"></script>
</body>
</html>
