<main ng-cloak>
    <header id="AdminDashboardHeader">
        <h3>STUDENT PROFILE (Middle School)</h3>
    </header>
    <form>
        <section class="student-form-section" >
            <section layout="row">
                <div layout="column" flex>
                    <md-input-container>
                        <label>First Name</label>
                        <input type="text" ng-model="student.student_firstname" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Last Name</label>
                        <input type="text" ng-model="student.student_lastname" disabled>
                    </md-input-container>
                </div>
                <div layout="column" flex>
                    <md-input-container>
                        <label>Phone 1</label>
                        <input type="tel" ng-model="student.phone1" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Phone 2</label>
                        <input type="tel" ng-model="student.phone2" disabled>
                    </md-input-container>
                </div>
            </section>

            <div layout="column">
                <div layout="column" >
                    <md-input-container>
                        <label>Street</label>
                        <input type="text" ng-model="student.street" disabled>
                    </md-input-container>
                </div>
                <div layout="column">
                    <md-input-container>
                        <label>City</label>
                        <input type="text" ng-model="student.city" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>State</label>
                        <input type="text" ng-model="student.state" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Zip</label>
                        <input type="text" ng-model="student.zip" disabled>
                    </md-input-container>
                </div>
            </div>
            <div>

            </div>
        </section>
        <section class="student-form-section" layout="column">
            <md-input-container>
                <label>Bus Route</label>
                <input type="text" ng-change="updateBus('bus_route', student.bus_route)" ng-model="student.bus_route" ng-model-options="{updateOn: 'blur'}"/>
            </md-input-container>
            <md-input-container>
                <label>Bus Stop</label>
                <input type="text" ng-change="updateBus('bus_stop', student.bus_stop)" ng-model="student.bus_stop" ng-model-options="{updateOn: 'blur'}"/>
            </md-input-container>
            <md-input-container>
                <label>Pick Up</label>
                <input type="text" ng-change="updateBus('pick_up', student.pick_up)" ng-model="student.pick_up" ng-model-options="{updateOn: 'blur'}"/>
            </md-input-container>
            <md-input-container>
                <label>Drop Off</label>
                <input type="text" ng-change="updateBus('drop_off', student.drop_off)" ng-model="student.drop_off" ng-model-options="{updateOn: 'blur'}"/>
            </md-input-container>
        </section>


        <section class="student-form-section">
            <div layout="column">

                    <label>Contact Status</label>
                    <select ng-options="option for option in dropdown" ng-change="updateNotes('contact_status', student.contact_status)"
                            ng-model="student.contact_status" placeholder="not yet called" ng-model-options="{updateOn: 'blur'}"></select>

            </div>
            <div layout="column">
                <md-input-container>
                    <label>Administration Notes</label>
                    <textarea ng-change="updateNotes('admin_notes', student.admin_notes)" ng-model="student.admin_notes"
                              ng-model-options="{updateOn: 'blur'}"></textarea>
                </md-input-container>
            </div>
            <div layout="column">
                <md-input-container>
                    <label>Attendance Notes</label>
                    <textarea ng-change="updateNotes('attendance_notes', student.attendance_notes)" ng-model="student.attendance_notes"
                              ng-model-options="{updateOn: 'blur'}"></textarea>
                </md-input-container>
            </div>
            <section layout="column">
                <md-input-container>
                    <label>Confirmed For Saturday</label>
                    <input type="text" ng-change="updateNotes('saturday_attendance',student.saturday_attendance)"
                           ng-model="student.saturday_attendance" ng-model-options="{updateOn: 'blur'}"/>
                </md-input-container>
            </section>
        </section>

    </form>
</main>
