<main>
    <header id="AdminDashboardHeader" layout="column">
        <h3>STUDENT PROFILE (High School)</h3>
    </header>
    <form>
    <section class="student-form-section">
        <div  layout="row" >
            <div layout="column"  flex >
                <md-input-container class="student-form-column">
                    <label>First Name</label>
                    <input type="text" value={{student.student_firstname}}>
                </md-input-container>
                <md-input-container class="student-form-column">
                    <label>Last Name</label>
                    <input type="text" value={{student.student_lastname}}>
                </md-input-container>
            </div>
            <div layout="column"   flex  >
                <md-input-container class="student-form-column">
                    <label>Phone 1</label>
                    <input type="text" value={{student.phone1}}>
                </md-input-container>
                <md-input-container class="student-form-column">
                    <label>Phone 2</label>
                    <input type="text" value={{student.phone2}}>
                </md-input-container>
            </div>
        </div>
        <div layout="column" >
            <md-input-container>
                <label>Street</label>
                <input type="text" value={{student.street}}>
            </md-input-container>
        </div>
        <div >
            <md-input-container>
                <label>City</label>
                <input type="text" value={{student.city}}>
            </md-input-container>
            <md-input-container>
                <label>State</label>
                <input type="text" value={{student.state}}>
            </md-input-container>
            <md-input-container>
                <label>Zip</label>
                <input type="text" value={{student.zip}}>
            </md-input-container>
        </div>
    </section>
    <section class="student-form-section">
        <div >
            <div layout="column">
                <md-input-container>
                    <label>Administration Notes</label>
                    <textarea ng-blur="updateNotes('admin_notes', student.admin_notes)" ng-model="student.admin_notes" ></textarea>
                </md-input-container>
            </div>
            <div layout="column">
                <md-input-container>
                    <label>Attendance Notes</label>
                    <textarea ng-blur="updateNotes('attendance_notes', student.attendance_notes)">{{student.attendance_notes}}</textarea>
                </md-input-container>
            </div>
        </div>
    </section>


    <section class="student-form-section" id="first-half-contact">
        <h5>First Half Of The Month</h5>

        <div layout="column">
            <md-input-container>
                <label>Made Contact</label>
                <input type="text" value={{student.contact_1st}} ng-blur="updateNotes('contact_1st', student.contact_1st)"/>
            </md-input-container>
        </div>
        <div layout="column">
            <md-input-container>
                <label>Medium Of Contact</label>
                <input type="text" value={{student.medium_1st}} ng-blur="updateNotes('medium_1st', student.medium_1st)">
            </md-input-container>
        </div>
        <div layout="column">
            <md-input-container>
                <label>Questions / Concerns</label>
                <textarea ng-blur="updateNotes('questions_1st', student.questions_1st)">{{student.questions_1st}}</textarea>
            </md-input-container>
        </div>
    </section>
    <section class="student-form-section" id="second-half-contact">
        <h5>Second Half Of The Month</h5>

        <div layout="column">
            <md-input-container>
                <label>Made Contact</label>
                <input type="text" value={{student.contact_2nd}} ng-blur="updateNotes('contact_2nd', student.contact_2nd)"/>
            </md-input-container>
        </div>
        <div layout="column">
            <md-input-container>
                <label>Medium Of Contact</label>
                <input type="text" value={{student.medium_2nd}} ng-blur="updateNotes('medium_2nd', student.medium_2nd)">
            </md-input-container>
        </div>
        <div layout="column">
            <md-input-container>
                <label>Questions / Concerns</label>
                <textarea ng-blur="updateNotes('questions_2nd', student.questions_2nd)">{{student.questions_2nd}}</textarea>
            </md-input-container>
        </div>
    </section>
    </form>
</main>