@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
    font-family: 'Roboto', sans-serif;
}
h3, h4, h5{
    font-weight: normal;
}

main {
    padding: 20px;
}
#login-form {
    padding: 20px;
    width: 400px;
    /*background-color: #aaa;*/
    border-radius: 5px;
    /*box-shadow: 2px 2px 4px #ccc;*/
    margin-left: auto;
    margin-right: auto;
    color: #999;
    /*text-shadow: 1px 1px 2px #000;*/
    font-size: 20px;
}
.content-panel {
    padding: 30px;
    width: 40%;
    margin-right: 30px;
    margin-left: 90px;
    margin-top: -30px;
}
.page-header-text {

}

section {
    clear: both;
}
.ui-grid-header-cell-wrapper {
    height: auto;
}
#google-logo{
    text-align: center;
}

md-datepicker.md-default-theme, md-datepicker {
    background: #f5f5f5;
}


.student-form-section{
    background-color: #f5f5f5;
    box-shadow: 2px 2px 4px #ccc;
    padding: 25px;
    margin-bottom: 35px;
}
.content-panel{
    background-color: #f5f5f5;
    text-align: center ;
    box-shadow: 2px 2px 4px #ccc;
    padding: 25px;

}
#top-buttons {
    background-color: #f5f5f5;
    text-align: center;
    box-shadow: 2px 2px 4px #ccc;
    border-radius: 5px;
    margin-bottom: 50px;
}
footer{
    margin-top: 25px;
    color: #999;
    text-align: center;
}
header{
    margin-top: 10px;
    color: #999;
    text-align: center;
}