<main ng-cloak>
    <header id="AdminDashboardHeader">
        <h3>STUDENT PROFILE (Middle School)</h3>
    </header>
    <form>
        <section class="student-form-section" >
            <section layout="row">
                <div layout="column" flex>
                    <md-input-container>
                        <label>First Name</label>
                        <input type="text" ng-model="student.student_firstname">
                    </md-input-container>
                    <md-input-container>
                        <label>Last Name</label>
                        <input type="text" ng-model="student.student_lastname">
                    </md-input-container>
                </div>
                <div layout="column" flex>
                    <md-input-container>
                        <label>Phone 1</label>
                        <input type="text" ng-model="student.student_phone1">
                    </md-input-container>
                    <md-input-container>
                        <label>Phone 2</label>
                        <input type="text" ng-model="student.student_phone2">
                    </md-input-container>
                </div>
            </section>

            <div layout="column">
                <div layout="column" >
                    <md-input-container>
                        <label>Street</label>
                        <input type="text" ng-model="student.street">
                    </md-input-container>
                </div>
                <div layout="column">
                    <md-input-container>
                        <label>City</label>
                        <input type="text" ng-model="student.city">
                    </md-input-container>
                    <md-input-container>
                        <label>State</label>
                        <input type="text" ng-model="student.state"/>
                    </md-input-container>
                    <md-input-container>
                        <label>Zip</label>
                        <input type="text" ng-model="student.zip"/>
                    </md-input-container>
                </div>
            </div>
            <div>

            </div>
        </section>
        <section class="student-form-section" layout="column" >
            <md-input-container>
                <label>Bus Route</label>
                <input type="text" ng-model="student.bus_route"/>
            </md-input-container>
            <md-input-container>
                <label>Bus Stop</label>
                <input type="text" ng-model="student.bus_stop"/>
            </md-input-container>
            <md-input-container>
                <label>Pick Up</label>
                <input type="text" ng-model="student.pick_up"/>
            </md-input-container>
            <md-input-container>
                <label>Drop Off</label>
                <input type="text" ng-model="student.drop_off"/>
            </md-input-container>
        </section>


        <section class="student-form-section">
            <div layout="column">
                <md-input-container>
                    <label>Contact Status</label>
                    <input type="text" ng-blur="updateNotes('contact_status', student.contact_status)" ng-model="student.contact_status"/>
                </md-input-container>
            </div>
            <div layout="column">
                <md-input-container>
                    <label>Administration Notes</label>
                    <textarea ng-blur="updateNotes('admin_notes', student.admin_notes)" ng-model="student.admin_notes"></textarea>
                </md-input-container>
            </div>
            <div layout="column">
                <md-input-container>
                    <label>Attendance Notes</label>
                    <textarea ng-blur="updateNotes('attendance_notes',student.attendance_notes)" ng-model="student.attendance_notes"></textarea>
                </md-input-container>
            </div>
            <section layout="column">
                <md-input-container>
                    <label>Confirmed For Saturday</label>
                    <input type="text" ng-blur="updateNotes('saturday_attendance',student.saturday_attendance)" ng-model="student.saturday_attendance"/>
                </md-input-container>
            </section>
        </section>
        <div class="header-button" flex="30">
            <md-input-container >
                <md-button  class="md-raised md-primary" >
                    Update Student
                </md-button>
            </md-input-container>
        </div>
    </form>
</main>
